.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  background-color: aquamarine;
}

/* calculator */
.calculator{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  display: flex;
  flex-direction: column;
  width: 250px;
 
  border-radius: 10px;
  margin: 50px 100px;
  border: 2px solid black;
}
.display{
  background-color: black;
  /* width: 300px; */
  height: 120px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding:0 20px;
  color: white;
  font-size: 20px;
}

.button-row{
  display: flex;
  gap: 5px;
  padding:8px;
  height: 50px;
  background-color: burlywood;

}
.button-row button{
  height:40px;
  background-color: blanchedalmond;
  border: 2px solid black;
  flex-grow:1;
  padding:10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}
/* button:active {
  opacity: 0.8;
  transform: scale(0.95); */
  /* color: white; */
/* } */
/* ChangeColor */
.displayColor{
  width: 50px;
  height:50px;
  border-radius: 10px;
  border: 2px solid black;
}