/* form */
.formdiv{
    width: 35%;
    background-color: white;
    margin: 30px auto;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 grey;
}
.formdiv input{
    background-color: #E8F0FE;
}
.popup{
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: rgb(78, 165, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 white;
}
/* table */
.tablediv{
    margin-top: 50px;
    width: 1200px;
    background-color: aliceblue;
    flex-direction: column;
}
table{
    width: 100%;
    /* height: 400px; */
    padding: 5px;
    background-color: rgb(215, 239, 250);
    margin: 10px 0;
    border-radius: 10px;
    font-size: large;
}
table th{
    border: 2px solid rgba(18, 18, 19, 0.258);
    background-color:rgba(9, 9, 10, 0.171);
}
table td{
    border: 2px solid rgba(99, 99, 197, 0.184);
    padding:30px
}
table tr:hover{
    background-color: aliceblue;
}
/* viewdetails */

.viewdetails{
    background-color: rgba(205, 229, 255, 0.541);
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px ;
}
.viewdetails img{
    width: 300px;
}
