*{
    margin:0;
    padding:0
}
header{
    text-align: center;
}
nav{
    padding:10px;
    background-color: lightpink;
    margin:20px 0px
}
.section-left{
    width:64%;
    padding:10px 0px;
    display: inline-block;
    border-right: 60px solid white;
}
.section-right{
    width:30%;
    padding:10px 0px;
    display: inline-block;
    vertical-align: top;
}
/* .section-left img{
    width:100%;
    padding:50px 0px */
.imgbox1{
    padding:50px 0px;
    width:100%;
    background-color: lightpink;
    margin: 20px 0px;
}
section{
    padding:20px 
}
h1{
    padding:20px 0px
}
.imgbox2{
    padding:30px 0px;
    width:80%;
    background-color: lightpink;
    margin:20px 0px ;
}
.imgbox2 img{
    display: block;
    padding:20px 
}
footer{
    padding:20px;
    background-color: lightpink;
    text-align: center;
}
/* @media only screen and (max-wid) */