*{
    margin:0;
    padding:0
}
/* body{
    background-color: lightcoral;
    border:10px solid white;
    height:500px;
} */
header{
    background-color: rgb(226, 127, 127);
}
section{
    display: flex;
    background-color: aqua;
    flex-direction: row;
}
aside{
    background-color: blueviolet;
    width:20%;
    height:400px
}
.section-right{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: end;
    width:80%;
}
img{
    width:25%;
    height: 200px;
}
footer{
    background-color:rgb(226, 127, 127);
}